:root {
    --text-primary: #5270d1;
    --text-secondary: #425eb8;
    --accent: #475996;
    --accent-opacity: #9595db;
    --bg-color: #19192e;
    --elevation-one: #1c1c21;
    --elevation-two: #1d1c21;
    --elevation-three: #1c1b21;
    --elevation-four: #666a80;
    --elevation-five: #19191f;
    --elevation-six: #0a0808bb;
}
